html {
    font-family: "Noto Sans JP", sans-serif;
    font-family: "Google Sans", sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;

}

/* header */
header {
    padding: 40px 0 20px;
}
/* footer */
footer {
    padding: 30px;
    text-align: center;
    background-color: whitesmoke;
}

/* a  */
a{
    color: blue;
    text-decoration: none;
} 
a:visited{
    color: blue;
}  
a:hover{
    color: red;
}

/* =================================================
   スマホ用レイアウト
   ================================================= */
   @media (max-width: 768px) {

    body {
        width: 100%;
        margin: 0;
    }
}